.header {
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 3.2rem;

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: grid;
    grid-template-columns: 40rem 3rem;
    gap: 1rem;
  }
}

.breads {
  color: rgba(black, .5);
}