.order {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 3.2rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__number, &__title, &__description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #0085FF;
  }

  &__number {
    line-height: 2rem;
  }

  &__title {
    color: #2B3674;
  }

  &__description {
    font-size: 1.4rem;
    color: rgba(black, 0.5);
  }

  &__price {
    color: #FF9500;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  &__button{
    align-self: end;
  }

}