.button {
  background-color: transparent;
  padding: 1rem;
  text-align: center;
  border: solid black .05rem;
  border-radius: 1rem;
  transition: all .3s ease-in-out;
  font-size: 1.4rem;
  line-height: 2.4rem;
  min-width: 7rem;
  align-self: center;

  &.action {
    background-color: #FFCC00;
    border: none;

  }

  &:active {
    transform: translateY(.3rem);
  }
}