@import "./normalize";
@import "./typography/typography";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, main {
  font-family: "SF Pro Display";
  font-size: 10px;
  font-weight: 400;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="data"],
input[type="password"] {
  display: block;
}

input[type="*"]:active:focus:checked {
  outline: none;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.content {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}