@import "./normalize";
@import "./typography/typography";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, main {
  font-family: "SF Pro Display";
  font-size: 10px;
  font-weight: 400;
}

h1, h2, h3, h4, p, text {
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="data"],
input[type="password"] {
  display: block;
}

input[type="checkbox"]:checked {
  accent-color: #2B3674;
}

input[type="*"]:active:focus:checked {
  outline: none;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.body {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.link {
  text-decoration: underline;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  color: black;
}

.line {
  background-color: #888888;
  height: 1px;
  width: 100%;
}

ul, ol, li {
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.title{
  font-size: 3.4rem;
  line-height: 4.2rem;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
  border: none;
}

input {
  border: none;

}