
.user {
  display: flex;
  gap: 1rem;
  align-items: center;

  &__image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title, &__paragraph {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  &__paragraph {
    color: #8E8E93;
  }

  &__description {
    color: #8E8E93;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}