.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.error {
  font-weight: 500;
  font-size: 2.5rem;
  color: red;
}

.label {
  color: #888888;
  font-weight: 400;
  font-size: 2.5rem;
}

.input {
  width: 100%;
  padding: .5rem 1rem;
  -moz-outline-radius: .5rem;
}
