.left {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;

  &__icon {
    display: flex;
    align-self: center;
    width: 2rem;
    height: 100%;
    cursor: pointer;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: black;
  }
}