.monitoring {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;

  &__head {
    border-radius: 1rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3.2rem;
    width: 100%;
    max-width: 18rem;
    margin: 0 auto;
  }

  &__collumn {
    padding: 1.5rem 1rem;

    min-height: 100%;
    width: 100%;
    border-radius: 3.2rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 2rem;

  }
}

.waiting {
  background-color: #C3FFFB;
}

.progress {
  background-color: #C5E6FF;
}

.review {
  background-color: #FFFBA1;
}

.send {
  background-color: #FFD9A1;
}

.done {
  background-color: #E6FFA1;
}